a {
    color: #11a8cd;
    text-decoration: none;
}

a:hover {
    color: #81c0cf;
    text-decoration: none;
}

a.period {
    color: rgb(255, 50, 50);
    text-decoration: none;
}

a.period:hover {
    color: rgb(255, 50, 50);
}

a.svg {
    position: relative;
    display: inline-block;
  }

  a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }

.inline {
    display: inline-block;
}

.tooltip-inner {
    min-width: 50px;
    max-width: 550px;
    text-align: left;
}

body {
    background: #303135;
    color: #bdc0c5;
}

th, td {
    color: #bdc0c5;
}