a {
    color: #11a8cd;
    text-decoration: none;
}

a:hover {
    color: #81c0cf;
    text-decoration: none;
}

a.period {
    color: rgb(255, 50, 50);
    text-decoration: none;
}

a.period:hover {
    color: rgb(255, 50, 50);
}

a.svg {
    position: relative;
    display: inline-block;
  }

  a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }

ul {
    margin-bottom: 0px;
}

.inline {
    display: inline-block;
}

.tooltip-inner {
    min-width: 50px;
    max-width: 550px;
    text-align: left;
}

.li_spaced {
    margin-bottom: 5px;
}

.week_container {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 174px;
}

.day_box {
    margin: 1px;
    float: left;
    height: 80px;
    width: 80px;
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items:center;
    justify-content: center;
}

.day_circle_on {
    height: 70px;
    width: 70px;
    background-color: #0a5669;
    border-radius: 50%;
    text-align: center;
}

.day_circle_off {
    height: 70px;
    width: 70px;
    background-color: rgb(35, 35, 35);
    border-radius: 50%;
    text-align: center;
}

.day_letter_box {
    height: 37.5px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.day_info_box {
    margin: 1px;
    float: left;
    height: 80px;
    width: 90px;
    background-color: rgb(35, 35, 35);
}

.day_oopsie_box {
    height: 40px;
    display: flex;
    align-items:flex-end;
}

body {
    background: #303135;
    color: #bdc0c5;
}

th, td {
    color: #bdc0c5;
}