{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block main %}
  <h1>About</h1>
    <p>Oopsie is a web-based anti-fertility calculator that celebrates the wonderful, life-altering event of not getting pregnant. It was built with Flask, Python, JavaScript, and SQL as a final project for <a href="https://cs50.harvard.edu/x/2021/" target="_blank">CS50x 2021.</a> Oopsie also uses <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a>.</p>

    <p style="font-weight:500;">The main goals of the project were:</p>

    <ol>
      <li>To make an inverse or “dark” (as in Wario to Mario) anti-fertility app inspired by <a href="https://www.youtube.com/watch?v=9Lms9d3eo1g&ab_channel=RMVideos" target="_blank">this</a> viral video.</li>
      <li>To provide a simple “Oopsie” percentage based on selected and combined preventative methods that could be useful at-a-glance to anyone interested &#8212; as opposed to the many, very pink existing fertility apps that seem to be designed only for expecting moms and rarely (if ever) involve preventative methods or percentage chances.</li>
      <li>To allow inputs for The Rhythm Method (cycle start & length, period length, ovulation day) and calculate a different ongoing daily Oopsie chance based on these inputs and to show these calculations for today, yesterday, tomorrow, and in a populated full calendar view.</li>
      <li>To create a mini simulation game where the user can “get lucky” (and unlucky) based on the Oopsie chance for the day.</li>
    </ol>

    <p style="font-weight:500;">Future goals:</p>

    <ol>
      <li>To allow pushing Oopsie chances to Google Calendar.</li>
      <li>To port Oopsie to a mobile application.</li>
      <li>To create a mobile widget of the daily percentage.</li>
    </ol>

    <p>Attribution: Logo icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>

{% endblock %}