{% extends "layout.html" %}

{% block title %}
    Anti-Fertility Calculator
{% endblock %}

{% block main %}
    <table border="0">
        <tr>
            <td colspan="2">
                {% if rhythm_chance != None %}
                    <h1>TODAY</h1>
                    <p style="font-weight:500;">{{ todayf }}</p>
                {% endif %}

                <h1>
                    {{ oopsie_chance }}% Oopsie!

                    {% if not methods %}
                        <a href="javascript:void(0)" data-bs-toggle="tooltip" title="The default Oopsie chance is 40%. This is based on available evidence for couples who don't use any methods but still wish to avoid pregnancy (NCBI).">&#9432;</a>
                    {% endif %}
                </h1>

                <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title="
                    {% if methods %}
                            <p>Based on your selected Oopsie methods (preventions):</p>
                            <ul>
                                {% for method in methods %}
                                    {% if rhythm_chance != None and method.id == 21 %}
                                        {% if (rhythm_chance|float * 100)|round(5) % 1 == 0 %}
                                            <li>{{ method.method }} ({{ (rhythm_chance * 100)|int }}%)</li>
                                        {% else %}
                                            <li>{{ method.method }} ({{ (rhythm_chance * 100)|round(5) }}%)</li>
                                        {% endif %}
                                    {% else %}
                                        {% if (method.chance * 100)|round(5) % 1 == 0 %}
                                            <li>{{ method.method }} ({{ (method.chance * 100)|int }}%)</li>
                                        {% else %}
                                            <li>{{ method.method }} ({{ (method.chance * 100)|round(5) }}%)</li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                ">Why this?</a>
                    {% else %}
                        "></a>
                        <p>&#128161; <a href="{{ url_for('methods') }}">Personlize</a> your Oopsie chance.</p>
                    {% endif %}

                {% if methods and not cycle_day %}
                    <br/><br/>
                    <p>&#128161; For daily results, <a href="{{ url_for('methods') }}">select Rhythm Method (Cycle Awareness)</a>.</p>
                {% endif %}


                {% if cycle_day and methods %}
                    | <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title="
                        <ul>
                            {% if cycle_day %}
                                <li>Current Cycle Day: {{ cycle_day }}</li>
                            {% endif %}
                            {% if next_ovulation %}
                                <li>Next Ovulation: {{ next_ovulation }} (cycle day {{ cycle_day_ovulation }})</li>
                            {% endif %}
                            {% if next_period %}
                                <li>Next Period Start: {{ next_period }}</li>
                            {% endif %}
                        </ul>
                    ">Cycle</a>
                    {% if period_today %}
                        <p class="inline" style="color:red;"><a class="period" href="#" data-bs-toggle="tooltip" title="period day">&#11044;</a></p>
                    {% endif %}
                    {% if ovulation_today %}
                        <p class="inline" style="color:red;"><a href="#" data-bs-toggle="tooltip" title="ovulation day">&#9675;</a></p>
                    {% endif %}
                <br/><br/>
                {% endif %}
            </td>
        </tr>
        {% if rhythm_chance != None %}
        <tr>
            <td style="padding-right: 20px">
                <p style="font-weight:500;">YESTERDAY</p>
                <p>{{ yesterdayf }}</p>
                <h3>{{ oopsie_chance_yesterday }}%</h3>
                <p class="inline"><a href="#" data-bs-toggle="tooltip" title="cycle day">({{ cycle_day_yesterday }})</a></p>
                {% if period_yesterday %}
                    <p class="inline" style="color:red;"><a class="period" href="#" data-bs-toggle="tooltip" title="period day">&#11044;</a></p>
                {% endif %}
                {% if ovulation_yesterday %}
                    <p class="inline" style="color:red;"><a href="#" data-bs-toggle="tooltip" title="ovulation day">&#9675;</a></p>
                {% endif %}
            </td>
            <td>
                <p style="font-weight:500;">TOMORROW</p>
                <p>{{ tomorrowf }}</p>
                <h3>{{ oopsie_chance_tomorrow }}%</h3>
                <p class="inline"><a href="#" data-bs-toggle="tooltip" title="cycle day">({{ cycle_day_tomorrow }})</a></p>
                {% if period_tomorrow %}
                    <p class="inline" style="color:red;"><a class="period" href="#" data-bs-toggle="tooltip" title="period day">&#11044;</a></p>
                {% endif %}
                {% if ovulation_tomorrow %}
                    <p class="inline" style="color:red;"><a href="#" data-bs-toggle="tooltip" title="ovulation day">&#9675;</a></p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><a href="{{ url_for('calendar') }}">View more days.</a></p>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}