{% extends "layout.html" %}

{% block title %}
  Methods
{% endblock %}

{% block main %}
  <form action="{{ url_for('index') }}" method="POST">
    <table>
      <tr>
        <td colspan="2">
          <h1>Methods</h1>
          {% if date_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ date_error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          {% if length_error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ length_error }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        </td>
      </tr>
    {% for row in method %}
      <tr>
        <td>
          <div class="form-check">
            {% if row.id|string in selections %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}" checked>
            {% else %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}">
            {% endif %}
            <label class="form-check-label" for="{{ row.id }}">
              {% if rhythm_chance != None and row.id == 21 %}
                {% if (rhythm_chance * 100)|round(5) % 1 == 0 %}
                  {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (rhythm_chance * 100)|int }}% Oopsie)">&#9432;</a>
                {% else %}
                  {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (rhythm_chance * 100)|round(5) }}% Oopsie)">&#9432;</a>
                {% endif %}
              {% else %}
                {% if (row.chance * 100)|round(5) % 1 == 0 %}
                  {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|int }}% Oopsie)">&#9432;</a>
                {% else %}
                  {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|round(5) }}% Oopsie)">&#9432;</a>
                {% endif %}
              {% endif %}
              </label>
          </div>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td>
        <div class="form-check">
          <label class="form-label" for="cycle_start">Last Period Start:</label>
          {% if cycle_start %}
            <input class="form-input" style="width: 150px;" type="date" id="cycle_start" name="cycle_start" value="{{ cycle_start }}">
          {% else %}
            <input class="form-input" style="width: 150px;" type="date" id="cycle_start" name="cycle_start">
          {% endif %}
          <a href="javascript:void(0)" data-bs-toggle="tooltip" title="If you don't know the cycle start date or ovulation date, the Rythm Method will default to a constant Oopsie chance of 24%.">&#9432;</a>
        </div>
        <div class="form-check">
          <label class="form-label" for="cycle_length">Cycle Length (days): </label>
          {% if cycle_length %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="28" id="cycle_length" name="cycle_length" min="21" max="35" value="{{ cycle_length }}">
          {% else %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="28" id="cycle_length" name="cycle_length" min="21" max="35" value="28">
          {% endif %}
          <a href="javascript:void(0)" data-bs-toggle="tooltip" title="If you don't enter the cycle length, we will assume the average of 28 days.">&#9432;</a>
        </div>
        <div class="form-check">
          <label class="form-label" for="period_length">Period Length (days): </label>
          {% if period_length != None %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="5" id="period_length" name="period_length" min="0" max="35" value="{{ period_length }}">
          {% else %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="5" id="period_length" name="period_length" min="0" max="35" value="5">
          {% endif %}
          <a href="javascript:void(0)" data-bs-toggle="tooltip" title="Enter a period length if you want to see days of bleeding on the calendar. By default, we will assume an average of 5 days. If you do not wish to view bleeding on the calendar, set to zero and save (will not affect the Oopsie chance).">&#9432;</a>
        </div>
        <div class="form-check">
          <label class="form-label" for="cycle_day_ovulation">Cycle Day of Ovulation: </label>
          {% if cycle_day_ovulation %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="14" id="cycle_day_ovulation" name="cycle_day_ovulation" min="1" max="35" value="{{ cycle_day_ovulation }}">
          {% else %}
            <input class="form-input" style="width: 50px;" type="number" placeholder="14" id="cycle_day_ovulation" name="cycle_day_ovulation" min="1" max="35" value="14">
          {% endif %}
          <a href="javascript:void(0)" data-bs-toggle="tooltip" title="If you don't enter a cycle day of ovulation, we will assume the midpoint of the cycle.">&#9432;</a>
        </div>
      </td>
    <tr>
      <td colspan="2">
        <br/>
        <h1>Contraception</h1>
      </td>
    </tr>
    {% for row in contraception %}
      <tr>
        <td>
          <div class="form-check">
            {% if row.id|string in selections %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}" checked>
            {% else %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}">
            {% endif %}
            <label class="form-check-label" for="{{ row.id }}">
              {% if (row.chance * 100)|round(5) % 1 == 0 %}
                {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|int }}% Oopsie)">&#9432;</a>
              {% else %}
                {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|round(5) }}% Oopsie)">&#9432;</a>
              {% endif %}
              </label>
          </div>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="2">
        <br/>
        <h1>Surgical Procedures</h1>
      </td>
    </tr>
    {% for row in surgical %}
      <tr>
        <td>
          <div class="form-check">
            {% if row.id|string in selections %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}" checked>
            {% else %}
              <input class="form-check-input" type="checkbox" value="{{ row.id }}" name="method_selected" id="{{ row.id }}">
            {% endif %}
            <label class="form-check-label" for="{{ row.id }}">
              {% if (row.chance * 100)|round(5) % 1 == 0 %}
                {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|int }}% Oopsie)">&#9432;</a>
              {% else %}
                {{ row.method }} <a href="javascript:void(0)" data-bs-toggle="tooltip" title="{{ row.info }} ({{ (row.chance * 100)|round(5) }}% Oopsie)">&#9432;</a>
              {% endif %}
            </label>
          </div>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td>
        <div class="form-check">
          <br/><input class="form-check-input" type="checkbox" id="check_all" onclick="check_uncheck(this)">
          <label style="font-weight:500;" class="form-check-label" for="check_all">
              Check all
          </label>
        </div>
      </td>
    </tr>
    </table>
    <br/>
    <button type="submit" class="btn btn-secondary">Save</button> <button type="reset" class="btn btn-secondary">Undo Changes</button>
  </form>
  <br/>
  <form action="{{ url_for('clear') }}" method="GET"><button type="submit" class="btn btn-secondary">Clear All Saved Data</button></form>

  <script>
      // Checks/un-checks all check-boxes
      // Learned from: https://www.youtube.com/watch?v=NK6VoOh0bQk&ab_channel=HowToCodeSchool
      function check_uncheck(main) {
        all_methods = document.getElementsByName("method_selected");
        // console.log(main)

        for (var i = 0; i < all_methods.length; i++) {
          all_methods[i].checked = main.checked;
        }
      }
  </script>
{% endblock %}